<html>
<head>
    <script>
        function clone(repoURL, repoName, token) {
            document.getElementById(repoName).innerText = "Status: In Progress"
            fetch('/clone?access_token='+token+"&repoURL="+repoURL+"&repoName="+repoName)
                // Parse the response as JSON
                .then(res => res.json())
                .then(res => {
                    document.getElementById(repoName).innerText = `Status: ${res.status}`
                })
        }
    </script>
</head>
<body>
        <p style="text-align: center; margin-top: 100px">
            {{range .Repositories}}
                <ul style="text-align: left; margin-left: 50px">
                    <li>{{.Name}} <a style="text-transform: initial; text-decoration: blue" onclick="clone({{.CloneUrl}}, {{.Name}}, {{$.AccessToken}})"> Clone</a> <strong id={{.Name}}></strong></li>
                </ul>
            {{end}}
        </p>
</body>
</html>